@charset "UTF-8";

body {
  overflow-x: hidden;
}

.profile {
  display: flex;
  justify-content: space-between;
  margin: 0 0 10px 0;
}

.twitter-visible {
  visibility: visible;
}

.music {
  text-align: center;
}

.logo {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  padding: 0 110px;
  gap: 5px;
}

.model {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  padding: 0 110px 100px 110px;
  gap: 5px;
}

.logo img,
.model img {
  width: 100%;
}

.google-form {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 999px) {
  .logo {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .twitter-visible {
    display: none;
  }
}

@media screen and (max-width: 699px) {
  .logo {
    padding: 0;
  }

  .model {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    padding: 0;
  }
}
