@charset "UTF-8";

body{
    overflow-x: hidden;
}

.music{
    text-align: center;
    padding: 0 0 100px 0;
}

.logo{
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    padding: 0 110px;
    gap: 5px;
}

@media screen and ( max-width:1024px) {
    .logo{
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

/*
.logo{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows : 1fr 1fr;
    padding: 50px;
}
*/

.logo img{
    width: 100%;
}