@charset "UTF-8";

.texttitle {
  position: relative;
  z-index: 20;
  font-family: magion-web, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 50px;
  color: #e6e6e6;
  margin-left: 100px;
}

.text-profile {
  margin-bottom: 30px;
  transform: rotate(0.5deg);
}

.text-works {
  margin-bottom: 50px;
  transform: rotate(-1deg);
}

.text-contact {
  margin-bottom: 50px;
  transform: rotate(1deg);
}

.textsubtitle {
  position: relative;
  z-index: 20;
  font-family: rajdhani, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 35px;
  color: #404040;
  margin: 70px 0 20px 100px;
}

.form-text {
  position: relative;
  z-index: 20;
  line-height: 30px;
  font-family: source-han-sans-japanese, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  color: #404040;
  margin: 20px 100px 20px 100px;
}

.textnormal {
  position: relative;
  z-index: 20;
  line-height: 30px;
  font-family: source-han-sans-japanese, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  color: #404040;
  margin: 20px 0px 20px 100px;
}

.foot {
  text-align: center;
  padding: 0 0 20px 0;
}

@media screen and (max-width: 999px) {
  .textnormal {
    margin: 20px 100px 20px 100px;
  }
}

@media screen and (max-width: 699px) {
  .texttitle {
    margin-left: 50px;
  }

  .textsubtitle {
    margin: 70px 0 20px 30px;
  }

  .textnormal {
    margin: 20px 40px 20px 40px;
    font-size: 15px;
    line-height: 20px;
  }

  .form-text {
    margin: 20px 40px 20px 40px;
    font-size: 15px;
    line-height: 30px;
  }
}
